<!--@subject Eenamlige aanbieding @-->

<style type="text/css">
    body,td { color:#2f2f2f; font:13px Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var order.getStoreGroupName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
            </tr>
        </table>
        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top">
                            <p>Customer {{var customer}} has requested a discount for the following product;</p>
                            
                            <p>{{var product.name}} (sku {{var product.sku}})), default price {{var product.price}}!</p>
                            
                            <p><a href="{{var offerUrl}}">Click here to give this customer an offer.</a></p>
                            
                            <p>Kind regards,</p>
                            
                            <p>{{config path="general/store_information/name"}} </p>
                </td>
          </tr>
        </table>
    </td>
</tr>
</table>
</div>