<?xml version="1.0"?>
<config>
	<modules>
		<Elgentos_Customdiscount>
			<version>0.1.0</version>
		</Elgentos_Customdiscount>
	</modules>
    <admin>
        <routers>
            <customdiscount>
                <use>admin</use>
                <args>
                    <module>Elgentos_Customdiscount</module>
                    <frontName>customdiscount</frontName>
                </args>
            </customdiscount>
        </routers>
    </admin>
	<adminhtml>
		<translate>
			<modules>
				<Elgentos_Customdiscount>
					<files>
						<default>Elgentos_Customdiscount.csv</default>
					</files>
				</Elgentos_Customdiscount>
			</modules>
		</translate>
		<layout>
			<updates>
				<customdiscount>
					<file>customdiscount.xml</file>
				</customdiscount>
			</updates>
		</layout>
        <menu>

            <promo>
                <children>
                    <customdiscount module="customdiscount">
                        <title>Custom discounts</title>
                        <sort_order>71</sort_order>
                        <action>customdiscount/adminhtml_index</action>
                    </customdiscount>
                </children>
            </promo>
        </menu>
	</adminhtml>
	<frontend>
        <routers>
            <customdiscount>
                <use>standard</use>
                <args>
                    <module>Elgentos_Customdiscount</module>
                    <frontName>discount</frontName>
                </args>
            </customdiscount>
        </routers>
	    <!--events>
    	    <checkout_cart_product_add_after>
    	        <observers>
    	            <applyDiscount>
    	                <type>model</type>
    	                <class>Elgentos_Customdiscount_Model_Observer</class>
    	                <method>applyDiscount</method>
    	            </applyDiscount>
    	        </observers>
    	    </checkout_cart_product_add_after>
    	    <checkout_cart_update_items_after>
    	        <observers>
                    <applyDiscounts>
                        <type>model</type>
                        <class>Elgentos_Customdiscount_Model_Observer</class>
                        <method>applyDiscounts</method>
                    </applyDiscounts>
                </observers>
    	    </checkout_cart_update_items_after>
	    </events-->
	</frontend>
	<global>
        <template>
            <email>
                <offermail module="Customdiscount">
                    <label>Customdiscount notification email</label>
                    <file>customdiscount_offermail.html</file>
                    <type>html</type>
                </offermail>
                <requestmail module="Customdiscount">
                    <label>Customdiscount request email</label>
                    <file>customdiscount_requestmail.html</file>
                    <type>html</type>
                </requestmail>
            </email>
        </template>
        <models>
            <customdiscount>
                <class>Elgentos_Customdiscount_Model</class>
                <resourceModel>customdiscount_mysql4</resourceModel>
            </customdiscount>
             <customdiscount_mysql4>
                <class>Elgentos_Customdiscount_Model_Mysql4</class>
                <entities>
                    <discounts>
                        <table>customdiscount_discounts</table>
                    </discounts>
                </entities>
            </customdiscount_mysql4>
        </models>
		<resources>
			<customdiscount_setup>
				<setup>
					<module>Elgentos_Customdiscount</module>
					<class>Elgentos_Customdiscount_Model_Mysql4_Setup</class>
				</setup>
			</customdiscount_setup>
		</resources>
       <blocks>
            <customdiscount>
                <class>Elgentos_Customdiscount_Block</class>
            </customdiscount>
        </blocks>
		<helpers>
			<customdiscount>
				<class>Elgentos_Customdiscount_Helper</class>
			</customdiscount>
		</helpers>
	</global>
    <default>
        <customdiscount>
            <general>
                <disabled>0</disabled>
                <uselimit>1</uselimit>
            </general>
        </customdiscount>
    </default>
</config>
